/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #D8D3CD;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #797A7E
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}